{% extends 'mainapp/base.html' %}
{% load static %}

{% block agreements %}
    <div id="container_post" class="container-md pt-5">
        <div class="row justify-content-md-center">
            <div class="col-lg-8">

                <img class="w-100" id="" src="{% static 'mainapp/images/about_us/contacts/contacts.webp' %}" alt="Safety Deposit">

                <h1 id="contacts_logo" class="pt-5" style="color: #4b7604">SAFETY DEPOSIT</h1>
                <br />

                <h2>УГОДИ</h2>

                <h3>Угода 1</h3>
                <p>ааааааааа</p>
                <!-- line -->
                <hr>
                <p><a href="{% static 'mainapp/documents/test22.gdoc' %}" download="">Завантажити документ</a></p>

                <h3>Угода 2</h3>
                <p>ррррррррр</p>
                <!-- line -->
                <hr>
                <p><a href="{% static 'mainapp/documents/test22.gdoc' %}" download="">Завантажити документ</a></p>

                <h3>Угода 3</h3>
                <p>нннннннн</p>
                <!-- line -->
                <hr>
                <p><a href="{% static 'mainapp/documents/test22.gdoc' %}" download="">Завантажити документ</a></p>

                <br />

                <h3>SAFETY DEPOSIT. Вигідні інвестиції. Якісне кредитування</h3>

            </div>
        </div>
    </div>

{% endblock %}