{% extends 'mainapp/base.html' %}
{% load static %}

{% block charter %}
    <div id="container_post" class="container-md pt-5">
        <div class="row justify-content-md-center">
            <div class="col-lg-8">

                <img class="w-100" id="" src="{% static 'mainapp/images/about_us/contacts/contacts.webp' %}" alt="Safety Deposit">

                <h1 id="contacts_logo" class="pt-5" style="color: #4b7604">SAFETY DEPOSIT</h1>
                <br />

                <h2>СТАТУТ</h2>

                <h3>Розділ 1</h3>
                <p>ааааааааа</p>


                <h3>Розділ 2</h3>
                <p>ррррррррр</p>

                <h3>Розділ 3</h3>
                <p>нннннннн</p>


                <br />

                <h3>SAFETY DEPOSIT. Вигідні інвестиції, якісне кредитування</h3>

            </div>
        </div>
    </div>

{% endblock %}