{% extends 'mainapp/base.html' %}
{% load static %}

{% block structure %}
    <div id="container_post" class="container-md pt-5">
        <div class="row justify-content-md-center">
            <div class="col-lg-8">

                <img class="w-100" id="" src="{% static 'mainapp/images/about_us/contacts/contacts.webp' %}" alt="Safety Deposit">

                <h1 id="contacts_logo" class="pt-5" style="color: #4b7604">SAFETY DEPOSIT</h1>
                <br />

                <h2>СТРУКТУРА SAFETY DEPOSIT</h2>

                <h3>Правління</h3>
                <p>Про Правління</p>

                <h4>Голова Правління</h4>
                <p>ПЕТРЕНКО Петро Петрович</p>
                <h4>Члени Правління</h4>
                <p>Сидоренко Любов Павлівна</p>
                <p>Іваненко Іван Іванович</p>
                <p>Голенко Любов Станівславівна</p>
                <p>Кобля Віталій Іванович</p>

                <h3>Контрольно-ревізійна комісія</h3>
                <p>Про Комісію</p>

                <h4>Голова Комісії</h4>
                <p>Шевченко Петро Петрович</p>
                <h4>Члени Комісії</h4>
                <p>Розмай Любов Павлівна</p>
                <p>Ливовка Іван Іванович</p><br>

                <br />

                <h3>SAFETY DEPOSIT. Вигідні інвестиції, якісне кредитування</h3>








            </div>
        </div>
    </div>

{% endblock %}